<footer class="page-footer pt-5">
  <nav id="footer" class="navbar-light bg-light"> 
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <div class="col-md-6 mt-3">

          <h3 class= "subheader-footer">Quaran-Tini</h3>
          <p><b>Email:</b> <a href "" class = "makegreen">hello@quarantini.com</a></p>
          <p><b>GitHub:</b> <a href="https://github.com/rtirabassi1994/project2-cocktails" class="makegreen">View Here</a></p>

        </div>

        <hr class="clearfix w-100 d-md-none pb-3">
        <div class="col-md-3 mb-md-0 mb-3">

        </div>
        <div class="col-md-3 mt-3 pb-3">
          <h3 class= "resources">RESOURCES</h3>

          <ul class="list-unstyled">

            <li>
              <a href= "https://www.thecocktaildb.com/" class="makegreen">API</a>
            </li>
            <li>
              <a href="https://animate.style/" class="makegreen">Technologies</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2020 Copyright</div>
  </nav>
  </footer>
  