<div class="jumbotron-header jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 animate__animated animate__bounce">Quaran-Tini</h1>
    <p class="lead">Stay Thirsty, My Friends</p>
  </div>
</div>