{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/top5">Most Popular Drinks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/db/SavedDrinks">My Saved Drinks</a>
        </li>
      </ul>
      </div>
      </div>
    
    <select name="dropDownOptions" id="dropDownOptions" class="btn btn-secondary dropdown-toggle my-2 my-sm-0">
      <option value="ingredients">Ingredients</option>
      <option selected value="cocktails">Drinks</option>
      <option value="shots">Shots</option>
      <option value="punch_partyDrink">Punch / Party Drink</option>
    </select>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" id="cocktailSearch" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 dropdown-nav" id="search-btn" type="submit" style="background-color: rgb(71, 209, 101); color:white;">Search</button>
    </form>
</nav> --}}



<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding:15px;">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/top5">Most Popular Drinks</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/db/SavedDrinks">Saved Drinks</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <div class="nav-item dropdown" style="padding-right: 10px;">
        <select name="dropDownOptions" id="dropDownOptions" class="btn btn-secondary dropdown-toggle my-2 my-sm-0">
          <option value="ingredients">Ingredients</option>
          <option selected value="cocktails">Drinks</option>
        </select>
      </div>
      <input class="form-control mr-sm-2" type="search" id="cocktailSearch" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn" style="background-color:  rgb(71, 209, 101); color:white;">Search</button>
    </form>
  </div>
</nav>

